<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamgv.goodvibes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera"></uses-feature> 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:name="com.teamgv.goodvibes.GoodVibes"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="GoodVibes"
        android:theme="@style/Theme.Goodvibes" >
        <activity
            android:name="com.teamgv.goodvibes.MainActivity"
            android:label="GoodVibes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.CreatePostActivity"
            android:label="@string/title_activity_create_post"
            android:parentActivityName="com.teamgv.goodvibes.MainActivity" >
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.teamgv.goodvibes.MainActivity" >
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.LocalNewsActivity"
            android:label="@string/title_activity_local_news"
            android:parentActivityName="com.teamgv.goodvibes.MainActivity" >
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.teamgv.goodvibes.MainActivity" >
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.teamgv.goodvibes.MainActivity" >
        </activity>
    </application>

</manifest>