<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamgv.goodvibes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/app_theme" >
        <activity
            android:name="com.teamgv.goodvibes.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.CreatePostActivity"
            android:label="@string/title_activity_create_post" >
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.LocalNewsActivity"
            android:label="@string/title_activity_local_news" >
        </activity>
        <activity
            android:name="com.teamgv.goodvibes.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity 
            android:name="FullPost" 
            android:label='@string/GoodVibeTitle1'>
        </activity>
    </application>

</manifest>
